@model IEnumerable<webGDPR.ViewModels.PetViewModel>

@{
	ViewData["Title"] = "Pets";
}

<h2>
	<i class="fa fa-paw fa-fw" aria-hidden="true"></i>&nbsp; @ViewData["Title"]
</h2>
<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.Type)
			</th>
			<th class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.Breeding)
			</th>
			<th class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.Color)
			</th>
			<th class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.Age)
			</th>
			<th class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.HealthComments)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CollarName)
			</th>
			<th class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.Latitude)
			</th>
			<th class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.Longitude)
			</th>
			<th class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.LocationCreationDate)
			</th>
			@*<th>
					@Html.DisplayNameFor(model => model.ImageFileName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PageFileName)
				</th>*@
			@*<th>
					@Html.DisplayNameFor(model => model.UserId)
				</th>*@
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td class="visible-md visible-lg">
					@Html.DisplayFor(modelItem => item.Type)
				</td>
				<td class="visible-md visible-lg">
					@Html.DisplayFor(modelItem => item.Breeding)
				</td>
				<td class="visible-md visible-lg">
					@Html.DisplayFor(modelItem => item.Color)
				</td>
				<td class="visible-md visible-lg">
					@Html.DisplayFor(modelItem => item.Age)
				</td>
				<td class="visible-md visible-lg">
					@Html.DisplayFor(modelItem => item.HealthComments)
				</td>
				<td>
					@if (!string.IsNullOrEmpty(item.CollarName))
					{
						@Html.DisplayFor(modelItem => item.CollarName)
					}
				</td>
				<td class="visible-md visible-lg">
					@if (item.Latitude != default(long))
					{
						@Html.DisplayFor(modelItem => item.Latitude)
					}
				</td>
				<td class="visible-md visible-lg">
					@if (item.Longitude != default(long))
					{
						@Html.DisplayFor(modelItem => item.Longitude)}
				</td>
				<td class="visible-md visible-lg">
					@if (item.LocationCreationDate != DateTime.MinValue)
					{
						@Html.DisplayFor(modelItem => item.LocationCreationDate)}
				</td>
				@*<td>
						@Html.DisplayFor(modelItem => item.ImageFileName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PageFileName)
					</td>*@
				@*<td>
						@Html.DisplayFor(modelItem => item.UserId)
					</td>*@
				<td>
					@if (!string.IsNullOrEmpty(item.CollarName))
					{
						@if (item.EmergencyOn)
						{
							<a class="btn btn-danger active" asp-action="EmergencyOff" asp-route-id="@item.PetId">Lost</a>
						}
						else
						{
							<a class="btn btn-default" asp-action="EmergencyOn" asp-route-id="@item.PetId">Lost</a>
						}}
					<a asp-action="Edit" asp-route-id="@item.PetId">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.PetId">Details</a> |
					<a asp-action="Stats" asp-route-id="@item.PetId">Stats</a> |
					@if (item.Latitude != default(double) || item.Longitude != default(double))
					{
						<a asp-action="Track" asp-route-id="@item.PetId">Track</a>
					}
					|
					<a asp-action="Delete" asp-route-id="@item.PetId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>