@model webGDPR.ViewModels.PetStatsModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
	ViewData["Title"] = Localizer["Pet Facts"];
}

<h2>
	<i class="fa fa-heartbeat fa-fw" aria-hidden="true"></i>&nbsp; @ViewData["Title"]
</h2>

<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">@Html.DisplayFor(model => model.Name)</div>
	<div class="panel-body">
		<div>
			<dl class="dl-horizontal col-md-8 col-sm-12">
				<dt>
					@Html.DisplayNameFor(model => model.Type)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Type)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Breeding)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Breeding)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Color)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Color)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Age)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Age) @Localizer[Html.DisplayFor(model => model.AgeUnit).ToString()]
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Gender)
				</dt>
				<dd>
					@Localizer[Html.DisplayFor(model => model.Gender).ToString()]
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Weigth)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Weigth)  @Localizer[Html.DisplayFor(model => model.WeigthUnit).ToString()]
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.HealthComments)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.HealthComments)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.CollarName)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.CollarName)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.DefaultMode)
				</dt>
				<dd>
					<div class="range" style="margin:15px;">
						<input asp-for="DefaultMode" type="range" min="2" max="6" readonly="readonly" step="1" value="@((byte)Model.DefaultMode)">
					</div>
					<ul class="range-labels">
						<li class="@((Model.DefaultMode == ConfigModeTypes.Young) ? "active selected" : "")">Young</li>
						<li class="@((Model.DefaultMode == ConfigModeTypes.Active) ? "active selected" : "")">Active</li>
						<li class="@((Model.DefaultMode == ConfigModeTypes.Regular) ? "active selected" : "")">Regular</li>
						<li class="@((Model.DefaultMode == ConfigModeTypes.Lazy) ? "active selected" : "")">Lazy</li>
						<li class="@((Model.DefaultMode == ConfigModeTypes.Mature) ? "active selected" : "")">Mature</li>
					</ul>
				</dd>
			</dl>
			<div class="dl-horizontal col-md-4 hidden-xs hidden-sm">
				@if (ViewData["imagesFilenames"] != null)
				{
					@foreach (var f in ViewData["imagesFilenames"] as List<string>)
					{
						<img src="@f" />
						break;
					}
				}
			</div>

		</div>
	</div>
</div>

<div class="btn-group period-btn-group" role="group" aria-label="...">
	<button class="btn btn-default active" id="btnWeek" data-period="W" data-petId="@Model.PetId">last week</button>
	<button class="btn btn-default" id="btnMonth" data-period="M" data-petId="@Model.PetId">last month</button>
	<button class="btn btn-default" id="btnSemester" data-period="S" data-petId="@Model.PetId">last 6 months</button>
</div>
<script>
	var avgActivity = JSON.parse('@Html.Raw(Json.Serialize(Model.MediumAvgDistance))');
</script>
<div id="activityStats" class="well well-lg period-updatetable-well">
	<partial name="_ActivityStatsPartial" model="@Model" />
</div>



@*<div class="col-md-12">
		<h2>Locations</h2>
		<form asp-action="Details" method="get">
			<div class="form-actions no-color">
				<p>
					Find:
					<input type="text" name="SearchString" value="@Model.CurrentFilter" />
					<input type="submit" value="Search" class="btn btn-default" /> |
					<a asp-action="Details">Back to full List</a>
				</p>
			</div>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">CreationDate</th>
					<th scope="col">Latitude</th>
					<th scope="col">Longitude</th>
					<th scope="col">Collar</th>
				</tr>
			</thead>
			<tbody>
				@foreach (webGDPR.Models.PetTrackingInfo dl in Model.PetTrackingInfos)
				{
					<tr>
						<td>
							<script type="text/javascript">
								  var strDate = new String('@dl.CreationDate.ToString("MM/dd/yyyy hh:mm:ss tt") UTC');
								  var localTime = new Date(strDate);
								  document.write(localTime.toLocaleString());
							</script>
						</td>
						<td>@dl.Latitude</td>
						<td>@dl.Longitude</td>
						<td>@dl.Collar.Name</td>
					</tr>
				}
			</tbody>
		</table>
		@{
			var prevDisabled = !Model.PetTrackingInfos.HasPreviousPage ? "disabled" : "";
			var nextDisabled = !Model.PetTrackingInfos.HasNextPage ? "disabled" : "";
		}

		<a asp-action="Details"
		   asp-route-pageIndex="@(Model.PetTrackingInfos.PageIndex - 1)"
		   asp-route-currentFilter="@Model.CurrentFilter"
		   class="btn btn-default @prevDisabled">
			Previous
		</a>
		<a asp-action="Details"
		   asp-route-pageIndex="@(Model.PetTrackingInfos.PageIndex + 1)"
		   asp-route-currentFilter="@Model.CurrentFilter"
		   class="btn btn-default @nextDisabled">
			Next
		</a>
	</div>

	<div class="col-md-12">
		<h2>Modes</h2>
		<form asp-action="Details" method="get">
			<div class="form-actions no-color">
				<p>
					Find:
					<input type="text" name="SearchString2" value="@Model.CurrentFilterMode" />
					<input type="submit" value="Search" class="btn btn-default" /> |
					<a asp-action="Details">Back to full List</a>
				</p>
			</div>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">CreationDate</th>
					<th scope="col">Type</th>
					<th scope="col">StartDate</th>
					<th scope="col">EndDate</th>
				</tr>
			</thead>
			<tbody>
				@foreach (webGDPR.Models.PetMode dl in Model.PetModes)
				{
					<tr>
						<td>
							<script type="text/javascript">
								  var strDate = new String('@dl.CreationDate.ToString("MM/dd/yyyy hh:mm:ss tt") UTC');
								  var localTime = new Date(strDate);
								  document.write(localTime.toLocaleString());
							</script>
						</td>
						<td>@dl.Type.ToString()</td>
						<td>
							<script type="text/javascript">
								  var strDate = new String('@dl.StartDate.ToString("MM/dd/yyyy hh:mm:ss tt") UTC');
								  var localTime = new Date(strDate);
								  document.write(localTime.toLocaleString());
							</script>
						</td>
						<td>
							@if (@dl.EndDate.Year != 1)
							{
								<script type="text/javascript">
								  var strDate = new String('@dl.EndDate.ToString("MM/dd/yyyy hh:mm:ss tt") UTC');
								  var localTime = new Date(strDate);
								  document.write(localTime.toLocaleString());
								</script>
							}

						</td>
					</tr>
				}
			</tbody>
		</table>
		@{
			var prevDisabled2 = !Model.PetModes.HasPreviousPage ? "disabled" : "";
			var nextDisabled2 = !Model.PetModes.HasNextPage ? "disabled" : "";
		}

		<a asp-action="Details"
		   asp-route-pageIndex2="@(Model.PetModes.PageIndex - 1)"
		   asp-route-currentFilter2="@Model.CurrentFilterMode"
		   class="btn btn-default @prevDisabled2">
			Previous
		</a>
		<a asp-action="Details"
		   asp-route-pageIndex2="@(Model.PetModes.PageIndex + 1)"
		   asp-route-currentFilter2="@Model.CurrentFilterMode"
		   class="btn btn-default @nextDisabled2">
			Next
		</a>
	</div>*@


<div>
	<a asp-action="Index">Back to List</a>
</div>
