@model webGDPR.Models.Pet

@{
	//Layout = null;
}

<!DOCTYPE html>

<html style="height: 100%;width: 100%;">
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Track</title>
</head>
<body style="height: 100%;width: 100%;">
	<div id="mapContainer" style="height:600px">
		<script>
			var contentString = '<div id="content">' +
				'<div id="siteNotice">' +
				'</div>' +
				'<h3 id="firstHeading" class="firstHeading">@Model.Name</h3>' +
				@*'<div id="bodyContent">' +
				'<p>@Model.Description</p>' +
				'</div>' +*@
				'</div>';

			var coordinates = [];
			@foreach (PetTrackingInfo p in Model.TrackingInfos) {
			 	<text>
					coordinates.push({ lat: @p.Latitude, lng: @p.Longitude });
				</text>
			 }
		</script>
		<div id="card-map" class="card-text card-map"  data-geo-lat="@Model.LastTrackingInfo.Latitude" , data-geo-lng="@Model.LastTrackingInfo.Longitude"></div>
		<div id="pano"></div>
	</div>
</body>
</html>
