@model webGDPR.Models.Pet
@{
    ViewData["Title"] = "Pet Track";
}

<div id="mapContainer" style="height:600px">
    <script>
			var contentString = '<div id="content">' +
				'<div id="siteNotice">' +
				'</div>' +
				'<h3 id="firstHeading" class="firstHeading">@Model.Name</h3>' +
				@*'<div id="bodyContent">' +
				'<p>@Model.Description</p>' +
				'</div>' +*@
				'</div>';

			var coordinates = [];
			@foreach (PetTrackingInfo p in Model.TrackingInfos) {
			 	<text>
					coordinates.push({ lat: @p.Latitude, lng: @p.Longitude });
				</text>
			 }
    </script>
    <div id="card-map" class="card-text card-map" data-geo-lat="@Model.LastTrackingInfo.Latitude" , data-geo-lng="@Model.LastTrackingInfo.Longitude"></div>
    <div id="pano"></div>
</div>