@model webGDPR.Models.Pet
@{
    ViewData["Title"] = "Pet Track";
}

<div id="mapContainer" style="height:600px">
    <script>
		var strDate = new String('@Model.LastTrackingInfo.CreationDate.ToString("MM/dd/yyyy hh:mm:ss tt") UTC');
		var localTime = new Date(strDate);
		var localTimeStr = localTime.toLocaleString();
		var contentString = '<div id="content">' +
				'<div id="siteNotice">' +
				'</div>' +
			'<h5 id="firstHeading" class="firstHeading"><b>@Model.Name</b> at <br/> ' + localTime.toLocaleString() + '</h5>' +
				'</div>';
		var type = '@Model.Type';
			var coordinates = [];
			@foreach (PetTrackingInfo p in Model.TrackingInfos) {
			 	<text>
					strDate = new String('@p.CreationDate.ToString("MM/dd/yyyy hh:mm:ss tt") UTC');
					localTime = new Date(strDate);
					coordinates.push({ lat: @p.Latitude, lng: @p.Longitude, time: localTime.toLocaleString() });
				</text>
			 }
    </script>
    <div id="card-map" class="card-text card-map" data-geo-lat="@Model.LastTrackingInfo.Latitude" , data-geo-lng="@Model.LastTrackingInfo.Longitude"></div>
    <div id="pano"></div>
</div>