@model AgendaSignalR.Infrastructure.Collar

@{
   // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Collar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HWId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HWId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.IsConnected)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsConnected)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsGPSConnected)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsGPSConnected)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Battery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Battery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Radio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Radio)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CollarId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
