@model IEnumerable<webGDPR.ViewModels.CollarViewModel>

@{
	ViewData["Title"] = "Collars";
}

<h2>
	<i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp; @ViewData["Title"]
</h2>
<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th  class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.CollarNumber)
			</th>
			<th  class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.HWId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th  class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsConnected)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ConnectedTo)
			</th>
			<th  class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.IsGPSConnected)
			</th>
			<th  class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.Battery)
			</th>
			<th  class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.Radio)
			</th>

			<th>
					@Html.DisplayNameFor(model => model.UserId)
				</th>
				@*<th>
					@Html.DisplayNameFor(model => model.BaseNumber)
				</th>*@

			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td class="visible-md visible-lg">
				@Html.DisplayFor(modelItem => item.CollarNumber)
			</td>
			<td class="visible-md visible-lg">
				@Html.DisplayFor(modelItem => item.HWId)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td class="visible-md visible-lg">
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IsConnected)
			</td>
			<td>
				@if (item.BaseConnectedTo != null)
				{
					@Html.DisplayFor(modelItem => item.BaseConnectedTo.Name)
				}
			</td>
			<td class="visible-md visible-lg">
				@Html.DisplayFor(modelItem => item.IsGPSConnected)
			</td>
			<td class="visible-md visible-lg">
				@Html.DisplayFor(modelItem => item.Battery)
			</td>
			<td class="visible-md visible-lg">
				@Html.DisplayFor(modelItem => item.Radio)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.UserId)
			</td>
			@*<td>
			@Html.DisplayFor(modelItem => item.BaseNumber)
		</td>*@
			<td>
				<a asp-action="Edit" asp-route-id="@item.CollarId">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.CollarId">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.CollarId">Delete</a>
			</td>
		</tr>
		}
	</tbody>
</table>
