@model IEnumerable<webGDPR.Models.Device>

@{
	ViewData["Title"] = "Devices";
}

<h2>
	<i class="fa fa-mobile-phone fa-fw" aria-hidden="true"></i>&nbsp; @ViewData["Title"]
</h2>
<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Type)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Platform)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Model)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Manufacturer)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OSVersion)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AliasName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Banned)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsLogging)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Deleted)
			</th>
			<th>
			@Html.DisplayNameFor(model => model.UserId)
		</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Type)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Platform)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Model)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Manufacturer)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.OSVersion)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.AliasName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Banned)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IsLogging)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Deleted)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.UserId)
			</td>
			<td>
				@if (item.IsLogging)
				{
					<a class="btn btn-default" asp-action="LoggingOff" asp-route-id="@item.DeviceId">Stop logging</a>
				}
				else
				{
					<a class="btn btn-default" asp-action="LoggingOn" asp-route-id="@item.DeviceId">Start logging</a>
				}
			</td>
			<td>
				@if (item.Banned)
				{
					<a class="unBan" data-id="@item.DeviceId" data-name="@item.GetName" title="Authorize to connect"><i class="fa fa-check-circle fa-fw" aria-hidden="true"></i></a>
					<a class="openBanDialog" data-id="@item.DeviceId" data-name="@item.GetName" title="Do no authorize to connect" style="display:none;"><i class="fa fa-ban fa-fw" aria-hidden="true"></i></a>
				}
				else
				{
					<a class="unBan" data-id="@item.DeviceId" data-name="@item.GetName" title="Authorize to connect" style="display:none;"><i class="fa fa-check-circle fa-fw" aria-hidden="true"></i></a>
					<a class="openBanDialog" data-id="@item.DeviceId" data-name="@item.GetName" title="Do no authorize to connect"><i class="fa fa-ban fa-fw" aria-hidden="true"></i></a>
				}
				<a asp-action="Edit" asp-route-id="@item.DeviceId">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.DeviceId">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.DeviceId">Delete</a>
			</td>
		</tr>
		}
	</tbody>
</table>

<div class="modal fade" id="banModal">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title" style="display: inline;">Unauthorize a device</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				Are you sure <span id="banName"></span> should stop connecting to our network?
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" id="banModalConfirmBtn" class="btn btn-secondary" data-dismiss="modal">Confirm</button>
			</div>
		</div>
	</div>
</div>