@model List<webGDPR.Infrastructure.CustomWebSockets.CustomWebSocket>
@{
	ViewData["Title"] = "Monitoring Page";
}
<h2>
	<i class="fa fa-heartbeat fa-fw" aria-hidden="true"></i>&nbsp; Monitoring
</h2>
<div class="row">
	<div class="col-md-12">
		<h2>Web Sockets</h2>
		<ul>
			@foreach (webGDPR.Infrastructure.CustomWebSockets.CustomWebSocket ws in Model)
			{
				<li>@ws.Username - @ws.Guid - @ws.DeviceId  - @ws.WebSocket.State - @ws.CreationDate.ToString()</li>

			}
		</ul>
	</div>
</div>
