@model webGDPR.ViewModels.MonitoringViewModel
@{
	ViewData["Title"] = "Monitoring Page";
}
<h2>
	<i class="fa fa-heartbeat fa-fw" aria-hidden="true"></i>&nbsp; Monitoring
</h2>
<div class="row">
	<div class="col-md-12">
		<h2>Web Sockets</h2>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Username</th>
					<th scope="col">Guid</th>
					<th scope="col">DeviceId</th>
					<th scope="col">IP</th>
					<th scope="col">State</th>
					<th scope="col">CreationDate</th>
				</tr>
			</thead>
			<tbody>
				@foreach (webGDPR.Infrastructure.CustomWebSockets.CustomWebSocket ws in Model.WebSockets)
				{
					<tr>
						<td>@ws.Username</td>
						<td>@ws.Guid</td>
						<td>@ws.DeviceId</td>
						<td>@ws.IP</td>
						<td>@ws.WebSocket.State</td>
						<td>
							<script type="text/javascript">
							  var strDate = new String('@ws.CreationDate.ToString("MM/dd/yyyy hh:mm:ss tt") UTC');
							  var localTime = new Date(strDate);
							  document.write(localTime.toLocaleString());
							</script>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="col-md-12">
		<h2>Device Logs</h2>
		<form asp-action="Index" method="get">
			<div class="form-actions no-color">
				<p>
					Find:
					<input type="text" name="SearchString" value="@Model.CurrentFilter" />
					<input type="submit" value="Search" class="btn btn-default" /> |
					<a asp-action="Index">Back to full List</a>
				</p>
			</div>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">DeviceId</th>
					<th scope="col">CreationDate</th>
					<th scope="col">Reason</th>
					<th scope="col" width="300px"><span style="max-width:150px;">Message</span></th>
				</tr>
			</thead>
			<tbody>
				@foreach (webGDPR.Models.DeviceLog dl in Model.DeviceLogs)
			{
				<tr>
					<td>@dl.DeviceId</td>
					<td>
						<script type="text/javascript">
  var strDate = new String('@dl.CreationDate.ToString("MM/dd/yyyy hh:mm:ss tt") UTC');
  var localTime = new Date(strDate);
  document.write(localTime.toLocaleString());
</script>
					</td>
					<td>@dl.Reason</td>
					<td width="300px"><span style="max-width:150px;white-space:normal">@dl.Message</span></td>
				</tr>
		}
			</tbody>
		</table>
		@{
		var prevDisabled = !Model.DeviceLogs.HasPreviousPage ? "disabled" : "";
		var nextDisabled = !Model.DeviceLogs.HasNextPage ? "disabled" : "";
		}

		<a asp-action="Index"
		   asp-route-pageIndex="@(Model.DeviceLogs.PageIndex - 1)"
		   asp-route-currentFilter="@Model.CurrentFilter"
		   class="btn btn-default @prevDisabled">
			Previous
		</a>
		<a asp-action="Index"
		   asp-route-pageIndex="@(Model.DeviceLogs.PageIndex + 1)"
		   asp-route-currentFilter="@Model.CurrentFilter"
		   class="btn btn-default @nextDisabled">
			Next
		</a>
	</div>
</div>
