@model List<webGDPR.Infrastructure.TimelineItem>
@{
	ViewData["Title"] = "Connections Timeline";
}

<h2>
	<i class="fa fa-clock fa-fw" aria-hidden="true"></i>&nbsp; @ViewData["Title"]
</h2>
<style>
	.collapsiblecontent {
		padding: 0 18px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		background-color: #f1f1f1;
	}

</style>

<button class="collapsible">Open Collapsible</button>
<div class="well well-lg timelineContainer  collapsiblecontent">
	<div class="timeline">
		@{
			foreach (var log in Model)
			{
				<div class="timelineitemcontainer @log.Orientation.ToString()">
					<div class="content">
						<h5 style="display: inline;">
							<script type="text/javascript">
							  var strDate = new String('@log.ItemDate.ToString("MM/dd/yyyy hh:mm:ss tt") UTC');
			var localTime = new Date(strDate);
			document.write(localTime.toLocaleString());
							</script>
						</h5>
						<p style="display: inline;float:right;">@log.ItemLeftTitle</p>
						<p style="clear: both;">@log.ItemMessage <i class="fa fa-plus-circle fa-fw" aria-hidden="true" title="@log.ItemMore"></i></p>
						
					</div>
				</div>
			}
		}
	</div>
</div>
<button class="btn btn-default" id="moreBtn" data-page="1" style="width:100%;">More</button>
