@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@model User
@{
	ViewData["Title"] = Localizer["Dashboard"];
}

@functions{
	public string GetAntiXsrfRequestToken()
	{
		return Xsrf.GetAndStoreTokens(Context).RequestToken;
	}
}

<script>
	var RequestVerificationToken = '@GetAntiXsrfRequestToken()';
	
</script>

<h2>
	<i class="fa fa-tachometer-alt fa-fw" aria-hidden="true"></i>&nbsp; @ViewData["Title"]
</h2>

<div class="row">
	<div class="col-md-3">
		<h2>@Localizer["Issues"]</h2>
		<ul class="errorlist-ul">
			@if (Model.MissingSubscription)
			{
				<li>
					<b><a style="color:orangered;" asp-action="FixMissingSubscription">@Localizer["Missing Subscription"]</a></b>
				</li>
			}

			@{
				List<webGDPR.Infrastructure.CustomWebSockets.CustomWebSocket> WebSockets = (List<webGDPR.Infrastructure.CustomWebSockets.CustomWebSocket>)ViewData["WebSockets"];
				if (WebSockets.Count <= 0)
				{
					<li>
						<b>@Localizer["No Device is connected"]</b>
					</li>
				}
			}


			@if (Model.Bases.Count() + @Model.Collars.Count() == 0)
			{
				<li>
					<b>@Localizer["Missing Initialization"]</b>
				</li>
			}
			@if (Model.Devices.Count() == 0)
			{
				<li>
					<b>@Localizer["Missing Install app"]</b>
				</li>
			}
			@if (Model.Latitude == 0 && Model.Longitude == 0)
			{
				<li>
					<b>@Localizer["Missing user location"]</b>
				</li>
			}

			@if (Model.Pets.Any(b => b.LastMode != null && b.LastMode.Type == ConfigModeTypes.Emergency && b.LastMode.IsActive))
			{
				<li>
					<b>@Localizer["Pet lost"]</b>
				</li>
			}
			@if (Model.Bases.Any(b => b.LastStatus == null || !b.LastStatus.IsConnected))
			{
				<li>
					<b>@Localizer["Bases Disconnected"]</b>
				</li>
			}
			@if (Model.Collars.Any(b => b.LastStatus == null || !b.LastStatus.IsConnected))
			{
				<li>
					<b>@Localizer["Collars Disconnected"]</b>
				</li>
			}
			@if (Model.Pets.Any(b => b.LastTrackingInfo == null || b.LastTrackingInfo.CreationDate.AddDays(1) < DateTime.Now))
			{
				<li>
					<b>@Localizer["Pet not moving the last 24 h"]</b>
				</li>
			}
			@if (Model.Collars.Any(b => b.LastStatus != null && b.LastStatus.Battery < 30))
			{
				<li>
					<b>@Localizer["Collars with battery less than 30%"]</b>
				</li>
			}
			@if (Model.Collars.Any(b => b.LastStatus != null && b.LastStatus.Radio < 20) || Model.Bases.Any(b => b.LastStatus != null && b.LastStatus.Radio < 20))
			{
				<li>
					<b>@Localizer["Collars with lora failing to connect"]</b>
				</li>
			}
			@if (Model.Collars.Any(b => b.LastStatus != null && b.LastStatus.IsNotGPSConnected))
			{
				<li>
					<b>@Localizer["Collars with GPS failing to connect"]</b>
				</li>
			}
		</ul>
		<h2 style="display:@(Model.MissingSubscription?"none": "block");">@Localizer["Actions"]</h2>
		<ul class="actionlist-ul" style="display:@(Model.MissingSubscription?"none": "block");">
			<li><a asp-area="" asp-controller="User" asp-action="PickLocation" target="_blank"><i class="fa fa-location-arrow fa-fw" aria-hidden="true"></i>&nbsp; @Localizer["Update your Location"]</a></li>
			<li><a asp-area="" asp-controller="Device" asp-action="DownloadApp" target="_blank"><i class="fa fa-download fa-fw" aria-hidden="true"></i>&nbsp; @Localizer["Download mobile or desktop application"]</a></li>
			<li><a asp-area="" asp-controller="Order" asp-action="Create" target="_blank"><i class="fa fa-cart-plus fa-fw" aria-hidden="true"></i>&nbsp; @Localizer["Buy another base or collar"]</a></li>
			<li><a asp-area="" asp-controller="Base" asp-action="Create"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; @Localizer["Add a base"]</a></li>
			<li><a asp-area="" asp-controller="Collar" asp-action="Create"><i class="fa fa-medal fa-fw" aria-hidden="true"></i>&nbsp; @Localizer["Add a collar"]</a></li>
			<li>
				<a asp-area="" asp-controller="Pet" asp-action="Create"><i class="fa fa-paw fa-fw" aria-hidden="true"></i>&nbsp; @Localizer["Add a Pet"]</a>
				@if (Model.Pets.Count() == 0)
				{<b>@Localizer["You haven't create any pet...."]</b>}
			</li>
		</ul>
	</div>
	<div class="col-md-6" style="display:@(Model.MissingSubscription?"none": "block");">
		<h2>@Localizer["Overview"]</h2>
		<div class="well well-lg" style="position:relative;top:0px;left:0px; min-width:200px;">
			<table class="table" style="position:relative;top:0px;left:0px; min-width:120px;">
				<theader>
					<tr>
						<th>
							<i class="fa fa-mobile-alt fa-fw" aria-hidden="true"></i> &nbsp; @Localizer["Mobile devices or computers running the application"]
						</th>
						<th class="small">@Localizer["Network Connected"]</th>
						<th class="small" style="min-width:80px;">@Localizer["Actions"]</th>
					</tr>
				</theader>
				<tbody>
					@{
						foreach (Device d in Model.Devices.Where(b => !b.Deleted))
						{
							<tr>
								<td class="small">
									<div style="position:relative;top:0px;left:0px; min-width:40px;">
										@d.GetPlatform @d.GetName
									</div>
								</td>
								<td class="small">
									<a asp-controller="Device" asp-action="ConnectionTimeline" asp-route-id="@d.DeviceId" title="@Localizer["View Connections Timeline"]" target="_blank">
										@if (WebSockets.Exists(w => w.DeviceId == d.DeviceId))
										{
											<i class="fa fa-circle fa-fw" style="color:green;position:relative;top:7px;left:0px" aria-hidden="true"></i>
										}
										else
										{
											<i class="fa fa-circle fa-fw" style="color:red;position:relative;top:7px;left:0px" aria-hidden="true"></i>
										}
									</a>
								</td>
								<td class="small">
									<a asp-controller="Device" asp-action="Edit" asp-route-id="@d.DeviceId" title="@Localizer["Edit"]"><i class="fa fa-edit fa-fw" aria-hidden="true"></i></a>
									@if (d.Banned)
									{
										<a class="unBan" data-id="@d.DeviceId" data-name="@d.GetName" title="@Localizer["Authorize to connect"]"><i class="fa fa-check-circle fa-fw" aria-hidden="true"></i></a>
										<a class="openBanDialog" data-id="@d.DeviceId" data-name="@d.GetName" title="@Localizer["Do no authorize to connect"]" style="display:none;"><i class="fa fa-ban fa-fw" aria-hidden="true"></i></a>
									}
									else
									{
										<a class="unBan" data-id="@d.DeviceId" data-name="@d.GetName" title="@Localizer["Authorize to connect"]" style="display:none;"><i class="fa fa-check-circle fa-fw" aria-hidden="true"></i></a>
										<a class="openBanDialog" data-id="@d.DeviceId" data-name="@d.GetName" title="@Localizer["Do no authorize to connect"]"><i class="fa fa-ban fa-fw" aria-hidden="true"></i></a>
									}
									<a class="openDeleteDeviceDialog" data-id="@d.DeviceId" data-device="@Newtonsoft.Json.JsonConvert.SerializeObject(d)" title="@Localizer["Delete"]"><i class="fa fa-trash fa-fw" aria-hidden="true"></i></a>
								</td>
							</tr>
						}

					}
				</tbody>
			</table>
		</div>
		<div class="well well-lg" style="position:relative;top:0px;left:0px; min-width:200px;">
			<table class="table" style="position:relative;top:0px;left:0px;">
				<theader>
					<tr>
						<th>
							<i class="fa fa-home fa-fw" aria-hidden="true"></i> &nbsp; @Localizer["Bases"]
						</th>
						<th class="small">
							<span class="visible-lg visible-md visible-sm">@Localizer["Network Connected"]</span>
							<span class="visible-xs">@Localizer["Con- nect"]</span>
						</th>
						<th class="small">
							<span class="visible-lg visible-md visible-sm">@Localizer["Plug in"]</span>
							<span class="visible-xs">@Localizer["Pl. in"]</span>
						</th>
						<th class="small">
							<span class="visible-lg visible-md visible-sm">@Localizer["Charging battery"]</span>
							<span class="visible-xs">@Localizer["Ch. bat."]</span>
						</th>
						<th class="small">
							<span class="visible-lg visible-md visible-sm">@Localizer["Radio Strength"]</span>
							<span class="visible-xs">@Localizer["Ra. Str."]</span>
						</th>
						<th class="small" style="min-width:60px;">@Localizer["Actions"]</th>
					</tr>
				</theader>
				<tbody>
					@foreach (var item in Model.Bases.Where(b => !b.Deleted))
					{
						<tr>
							<td class="small">
								<div style="position:relative;top:0px;left:0px;">
									@Html.DisplayFor(modelItem => item.Name)
								</div>
							</td>
							<td class="small">
								<div style="position:relative;top:0px;left:0px">
									<a asp-controller="Base" asp-action="Timeline" asp-route-id="@item.BaseId" asp-route-parameter="IsConnected" title="@Localizer["View Connections Timeline"]" target="_blank">
										@if (item.LastStatus != null && item.LastStatus.IsConnected)
										{
											<i class="fa fa-circle fa-fw" style="color:green;position:relative;top:7px;left:0px" aria-hidden="true"></i>
											@if (item.LastStatus != null && item.LastStatus.DeviceConnectedTo != null)
											{
												@Html.DisplayFor(modelItem => item.LastStatus.DeviceConnectedTo.GetName)
											}
										}
										else
										{
											<i class="fa fa-circle fa-fw" style="color:red;position:relative;top:7px;left:0px" aria-hidden="true"></i>
										}
									</a>
								</div>
							</td>
							<td class="small" valign="middle">
								<div style="position:relative;top:0px;left:0px;">
									<a asp-controller="Base" asp-action="Timeline" asp-route-id="@item.BaseId" asp-route-parameter="IsPlugged" title="@Localizer["View Plug In Timeline"]" target="_blank">
										<i class="fa fa-plug fa-fw" style="color:gray;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
										@if (!(item.LastStatus != null && item.LastStatus.IsPlugged))
										{
											<i style="color:black; font-weight:bold; font-size:x-large;padding-top:0px;padding-bottom:0px;position:absolute;top:0px;left:6px">\</i>
										}
									</a>
								</div>

							</td>
							<td class="small">
								<div style="position:relative;top:0px;left:0px;">
									<a asp-controller="Base" asp-action="Timeline" asp-route-id="@item.BaseId" asp-route-parameter="Battery" title="@Localizer["View Battery Charging Timeline"]" target="_blank">
										@if (item.LastStatus != null)
										{
											if (item.LastStatus.Battery < 25)
											{
												<i class="fa fa-battery-empty fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
											}
											else if (item.LastStatus.Battery < 50)
											{
												<i class="fa fa-battery-quarter fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
											}
											else if (item.LastStatus.Battery < 75)
											{
												<i class="fa fa-battery-half fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
											}
											else if (item.LastStatus.Battery < 100)
											{
												<i class="fa fa-battery-three-quarters fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
											}
											else
											{
												<i class="fa fa-battery-full fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
											}
										}
										else
										{
											<i class="fa fa-battery-empty fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
										}
										@if (!(item.LastStatus != null && item.LastStatus.HasBattery))
										{
											<i style="color:black; font-weight:bold; font-size:x-large;position:absolute;top:0px;left:4px">\</i>
										}
										@if (item.LastStatus != null && item.LastStatus.IsCharging)
										{
											<i class="fa fa-bolt fa-fw" style="color:black;position:absolute;top:10px;left:0px">\</i>
										}
									</a>
								</div>

							</td>
							<td class="small">
								<div style="position:relative;top:0px;left:0px;">
									<a asp-controller="Base" asp-action="Timeline" asp-route-id="@item.BaseId" asp-route-parameter="Radio" title="@Localizer["View Radio Strength Timeline"]" target="_blank">
										<i class="fa fa-signal fa-fw" style="color:gray;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
										@if (item.LastStatus != null)
										{
											<i style="color:black;font-weight:bold;font-size:small;position:absolute;top:5px;left:6px">@item.LastStatus.RadioPercentage</i>
										}
										else
										{
											<i style="color:black;font-weight:bold;font-size:small;position:absolute;top:5px;left:6px">0%</i>
										}
									</a>
								</div>

							</td>
							<td class="small">
								<a asp-controller="Base" asp-action="Edit" asp-route-id="@item.BaseId" title="@Localizer["Edit"]"><i class="fa fa-edit fa-fw" aria-hidden="true"></i></a>
								<a class="openDeleteBaseDialog" data-id="@item.BaseId" data-base="@Newtonsoft.Json.JsonConvert.SerializeObject(item)" title="@Localizer["Delete"]"><i class="fa fa-trash fa-fw" aria-hidden="true"></i></a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="well well-lg" style="position:relative;top:0px;left:0px; min-width:200px;">
			<table class="table" style="position:relative;top:0px;left:0px;">
				<theader>
					<tr>
						<th>
							<i class="fa fa-paw fa-fw" aria-hidden="true"></i> &nbsp; @Localizer["Collars on Pets"]
						</th>
						<th class="small">
							<span class="visible-lg visible-md visible-sm">@Localizer["Network Connected"]</span>
							<span class="visible-xs">@Localizer["Con- nect"]</span>
						</th>
						<th class="small">
							<span class="visible-lg visible-md visible-sm">@Localizer["GPS Connected"]</span>
							<span class="visible-xs">@Localizer["GPS"]</span>
						</th>
						<th class="small">
							<span class="visible-lg visible-md visible-sm">@Localizer["Battery Charge"]</span>
							<span class="visible-xs">@Localizer["Bat."]</span>
						</th>
						<th class="small">
							<span class="visible-lg visible-md visible-sm">@Localizer["Radio Strength"]</span>
							<span class="visible-xs">@Localizer["Ra. Str."]</span>
						</th>
						<th class="small" style="min-width:60px;">@Localizer["Actions"]</th>
					</tr>
				</theader>
				<tbody>
					@foreach (var item in Model.Collars.Where(b => !b.Deleted))
					{
						Pet p = Model.Pets.FirstOrDefault(pet => pet.LastCollar != null && pet.LastCollar.CollarId == item.CollarId && !pet.Deleted);
						<tr>
							<td class="small">
								<div style="position:relative;top:0px;left:0px;">
									@Html.DisplayFor(modelItem => item.Name)
								</div>
							</td>
							<td class="small">
								<div style="position:relative;top:0px;left:0px;">
									<a asp-controller="Collar" asp-action="Timeline" asp-route-id="@item.CollarId" asp-route-parameter="IsConnected" title="@Localizer["View Connections Timeline"]" target="_blank">
										@if (item.LastStatus != null && item.LastStatus.IsConnected)
										{
											<i class="fa fa-circle fa-fw" style="color:green;position:relative;top:7px;left:0px" aria-hidden="true"></i>
											@if (item.LastStatus != null && item.LastStatus.BaseConnectedTo != null)
											{
												@Html.DisplayFor(modelItem => item.LastStatus.BaseConnectedTo.Name)
											}
										}
										else
										{
											<i class="fa fa-circle fa-fw" style="color:red;position:relative;top:7px;left:0px" aria-hidden="true"></i>
										}
									</a>
								</div>
							</td>
							<td class="small" valign="middle">
								<div style="position:relative;top:0px;left:0px;">
									<a asp-controller="Collar" asp-action="Timeline" asp-route-id="@item.CollarId" asp-route-parameter="IsGPSConnected" title="@Localizer["View GPS Connections Timeline"]" target="_blank">
										<i class="fa fa-map-marker fa-fw" style="color:gray;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
										@if (!(item.LastStatus != null && item.LastStatus.IsGPSConnected))
										{
											<i style="color:black; font-weight:bold; font-size:x-large;padding-top:0px;padding-bottom:0px;position:absolute;top:0px;left:6px">\</i>
										}
									</a>
								</div>
							</td>
							<td class="small">
								<div style="position:relative;top:0px;left:0px;">
									<a asp-controller="Collar" asp-action="Timeline" asp-route-id="@item.CollarId" asp-route-parameter="Battery" title="@Localizer["View Battery Charge Timeline"]" target="_blank">
										@if (item.LastStatus != null)
										{
											if (item.LastStatus.Battery < 25)
											{
												<i class="fa fa-battery-empty fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
											}
											else if (item.LastStatus.Battery < 50)
											{
												<i class="fa fa-battery-quarter fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
											}
											else if (item.LastStatus.Battery < 75)
											{
												<i class="fa fa-battery-half fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
											}
											else if (item.LastStatus.Battery < 100)
											{
												<i class="fa fa-battery-three-quarters fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
											}
											else
											{
												<i class="fa fa-battery-full fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
											}
										}
										else
										{
											<i class="fa fa-battery-empty fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
										}
									</a>
								</div>
							</td>
							<td class="small">
								<div style="position:relative;top:0px;left:0px; ">
									<a asp-controller="Collar" asp-action="Timeline" asp-route-id="@item.CollarId" asp-route-parameter="Radio" title="@Localizer["View Radio Strength Timeline"]" target="_blank">
										<i class="fa fa-signal fa-fw" style="color:gray;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
										@if (item.LastStatus != null)
										{
											<i style="color:black;font-weight:bold;font-size:small;position:absolute;top:5px;left:6px">@item.LastStatus.RadioPercentage</i>
										}
										else
										{
											<i style="color:black;font-weight:bold;font-size:small;position:absolute;top:5px;left:6px">0%</i>
										}
									</a>
								</div>
							</td>
							<td class="small">
								<a asp-controller="Collar" asp-action="Edit" asp-route-id="@item.CollarId" title="@Localizer["Edit"]"><i class="fa fa-edit fa-fw" aria-hidden="true"></i></a>
								<a class="openDeleteCollarDialog" data-id="@item.CollarId" data-collar="@Newtonsoft.Json.JsonConvert.SerializeObject(item)" data-pet="@(p==null? string.Empty: p.Name)" title="@Localizer["Delete"]"><i class="fa fa-trash fa-fw" aria-hidden="true"></i></a>
							</td>
						</tr>
						if (p != null)
						{
							<tr>
								<td class="small">
									@Localizer["on"]&nbsp; @Html.DisplayFor(modelItem => p.Name)
								</td>

								<td class="small">
									@if (p.LastTrackingInfo != null && (p.LastTrackingInfo.Latitude != default(double) || p.LastTrackingInfo.Longitude != default(double)))
									{
										<a class="btn btn-default" asp-controller="Pet" asp-action="Stats" asp-route-id="@p.PetId" target="_blank" style="width:100%; padding:3px 6px 3px 6px" title="@Localizer["Monitor your pet's activity"]"><i class="fa fa-heartbeat fa-fw" aria-hidden="true"></i></a>
									}
								</td>
								<td class="small">
									@if (p.LastTrackingInfo != null && (p.LastTrackingInfo.Latitude != default(double) || p.LastTrackingInfo.Longitude != default(double)))
									{
										<a class="btn btn-default" asp-controller="Pet" asp-action="Track" asp-route-id="@p.PetId" target="_blank" style="width:100%; padding:3px 6px 3px 6px" title="@Localizer["Check your pet's last locations"]"><i class="fa fa-route fa-fw" aria-hidden="true"></i></a>
									}
								</td>
								<td class="small" colspan="2">
									@if (p.LastMode != null && p.LastMode.Type == ConfigModeTypes.Emergency && p.LastMode.IsActive)
									{
										<button class="btn btn-default reportFound" data-id="@p.PetId" data-name="@p.Name" style="width:100%; padding:3px 6px 3px 6px">
											<span class="visible-lg visible-md visible-sm">@Localizer["Report Found"]</span>
											<span class="visible-xs">@Localizer["Found"]</span>
										</button>
										<button class="btn btn-danger openReportLostDialog" data-id="@p.PetId" data-name="@p.Name" style="width:100%; padding:3px 6px 3px 6px; display:none">
											<span class="visible-lg visible-md visible-sm">@Localizer["Report Lost"]</span>
											<span class="visible-xs">@Localizer["Lost"]</span>
										</button>
									}
									else
									{
										<button class="btn btn-default reportFound" data-id="@p.PetId" data-name="@p.Name" style="width:100%; padding:3px 6px 3px 6px; display:none;">
											<span class="visible-lg visible-md visible-sm">@Localizer["Report Found"]</span>
											<span class="visible-xs">@Localizer["Found"]</span>
										</button>
										<button class="btn btn-danger openReportLostDialog" data-id="@p.PetId" data-name="@p.Name" style="width:100%; padding:3px 6px 3px 6px">
											<span class="visible-lg visible-md visible-sm">@Localizer["Report Lost"]</span>
											<span class="visible-xs">@Localizer["Lost"]</span>
										</button>
									}
								</td>
								<td class="small">
									<a asp-controller="Pet" asp-action="Edit" asp-route-id="@p.PetId" title="@Localizer["Edit"]"><i class="fa fa-edit fa-fw" aria-hidden="true"></i></a>
									<a class="openDeletePetDialog" data-id="@p.PetId" data-pet="@Newtonsoft.Json.JsonConvert.SerializeObject(p, Newtonsoft.Json.Formatting.None, new Newtonsoft.Json.JsonSerializerSettings { PreserveReferencesHandling = Newtonsoft.Json.PreserveReferencesHandling.Objects})" data-collar="@item.Name" title="@Localizer["Delete"]"><i class="fa fa-trash fa-fw" aria-hidden="true"></i></a>
								</td>
							</tr>
						}
						else
						{
							<tr class="missing">
								<td class="small">
									<span style="color:red">@Localizer["Missing Pet"]</span>
								</td>
							</tr>
						}
					}
					@foreach (var item in Model.Pets.Where(p => !p.Deleted))
					{
						if (item.LastCollar == null)
						{
							<tr class="missing">
								<td class="small">
									<span style="color:red">@Localizer["Missing Collar"]</span>
								</td>
							</tr>
							<tr>
								<td class="small">
									@Localizer["on"]&nbsp; @Html.DisplayFor(modelItem => item.Name)
								</td>

								<td class="small">
									@if (item.LastTrackingInfo != null && (item.LastTrackingInfo.Latitude != default(double) || item.LastTrackingInfo.Longitude != default(double)))
									{
										<a class="btn btn-default" asp-controller="Pet" asp-action="Stats" asp-route-id="@item.PetId" target="_blank" style="width:100%; padding:3px 6px 3px 6px" title="@Localizer["Monitor your pet's activity"]"><i class="fa fa-heartbeat fa-fw" aria-hidden="true"></i></a>
									}
								</td>
								<td class="small">
									@if (item.LastTrackingInfo != null && (item.LastTrackingInfo.Latitude != default(double) || item.LastTrackingInfo.Longitude != default(double)))
									{
										<a class="btn btn-default" asp-controller="Pet" asp-action="Track" asp-route-id="@item.PetId" target="_blank" style="width:100%; padding:3px 6px 3px 6px" title="@Localizer["Check your pet's last locations"]"><i class="fa fa-route fa-fw" aria-hidden="true"></i></a>
									}
								</td>
								<td class="small" colspan="2">
									@if (item.LastMode != null && item.LastMode.Type == ConfigModeTypes.Emergency && item.LastMode.IsActive)
									{
										<button class="btn btn-default reportFound" data-id="@item.PetId" data-name="@item.Name" style="width:100%; padding:3px 6px 3px 6px">
											<span class="visible-lg visible-md visible-sm">@Localizer["Report Found"]</span>
											<span class="visible-xs">@Localizer["Found"]</span>
										</button>
										<button class="btn btn-danger openReportLostDialog" data-id="@item.PetId" data-name="@item.Name" style="width:100%; padding:3px 6px 3px 6px; display:none">
											<span class="visible-lg visible-md visible-sm">@Localizer["Report Lost"]</span>
											<span class="visible-xs">@Localizer["Lost"]</span>
										</button>
									}
									else
									{
										<button class="btn btn-default reportFound" data-id="@item.PetId" data-name="@item.Name" style="width:100%; padding:3px 6px 3px 6px; display:none;">
											<span class="visible-lg visible-md visible-sm">@Localizer["Report Found"]</span>
											<span class="visible-xs">@Localizer["Found"]</span>
										</button>
										<button class="btn btn-danger openReportLostDialog" data-id="@item.PetId" data-name="@item.Name" style="width:100%; padding:3px 6px 3px 6px">
											<span class="visible-lg visible-md visible-sm">@Localizer["Report Lost"]</span>
											<span class="visible-xs">@Localizer["Lost"]</span>
										</button>
									}
								</td>
								<td class="small">
									<a asp-controller="Pet" asp-action="Edit" asp-route-id="@item.PetId" title="@Localizer["Edit"]"><i class="fa fa-edit fa-fw" aria-hidden="true"></i></a>
									<a class="openDeletePetDialog" data-id="@item.PetId" data-pet="@Newtonsoft.Json.JsonConvert.SerializeObject(item, Newtonsoft.Json.Formatting.None, new Newtonsoft.Json.JsonSerializerSettings { PreserveReferencesHandling = Newtonsoft.Json.PreserveReferencesHandling.Objects})" data-collar="" title="@Localizer["Delete"]"><i class="fa fa-trash fa-fw" aria-hidden="true"></i></a>
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-3" style="display:@(Model.MissingSubscription?"none": "block");">
		<h2>&nbsp;</h2>
		<div class="well well-lg">
			<div id="mapContainer" style="height:400px;position: relative;">
				<script>
			var coordinates = [];
			@foreach (Pet p in Model.Pets) {
				if (p.LastTrackingInfo != null)
				{
			 	<text>
				var strDate = new String('@p.LastTrackingInfo.CreationDate.ToString("MM/dd/yyyy hh:mm:ss tt") UTC');
					var localTime = new Date(strDate);

				coordinates.push({ lat: @p.LastTrackingInfo.Latitude.ToString(new System.Globalization.CultureInfo("en", false)), lng: @p.LastTrackingInfo.Longitude.ToString(new System.Globalization.CultureInfo("en", false)), name: "@p.Name", type: "@p.Type", time: localTime.toLocaleString() });
				</text>
				}
			}
				</script>
				<div id="pets-map" class="card-text card-map" data-geo-lat="@Model.Latitude.ToString(new System.Globalization.CultureInfo("en", false))" data-geo-lng="@Model.Longitude.ToString(new System.Globalization.CultureInfo("en", false))"></div>
				<div id="panoDashboard"></div>
			</div>
		</div>
		<ul class="remarkslist-ul" style="clear:both;">
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Your pet has been going farther latelly/ moving less or more...</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
		</ul>
	</div>
</div>
<!-- The Modals -->
<div class="modal fade" id="petLostModal">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title" style="display: inline;">@Localizer["Report a lost pet"]</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				@Localizer["Are you sure"] <span id="petName"></span> @Localizer["is lost?"]
				<input type="hidden" name="petId" id="petId" value="" />
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
				<button type="button" id="petLostModalConfirmBtn" class="btn btn-secondary" data-dismiss="modal">@Localizer["Confirm"]</button>
			</div>

		</div>
	</div>
</div>

<div class="modal fade" id="banModal">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title" style="display: inline;">@Localizer["Unauthorize a device"]</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				@Localizer["Are you sure"] <span id="banName"></span> @Localizer["should stop connecting to our network?"]
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
				<button type="button" id="banModalConfirmBtn" class="btn btn-secondary" data-dismiss="modal">@Localizer["Confirm"]</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteDeviceModal">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title" style="display: inline;">@Localizer["Delete a mobile device or computer"]</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				@Localizer["Are you sure you want to delete this mobile device or computer?"]
				<dl class="dl-horizontal">
					<dt>
						@Html.DisplayNameFor(model => model.Devices[0].Type)
					</dt>
					<dd>
						<span id="deviceType"></span>
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Devices[0].Platform)
					</dt>
					<dd>
						<span id="devicePlatform"></span>
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Devices[0].Name)
					</dt>
					<dd>
						<span id="deviceName"></span>
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Devices[0].Model)
					</dt>
					<dd>
						<span id="deviceModel"></span>
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Devices[0].Manufacturer)
					</dt>
					<dd>
						<span id="deviceManufacturer"></span>
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Devices[0].OSVersion)
					</dt>
					<dd>
						<span id="deviceOSVersion"></span>
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Devices[0].AliasName)
					</dt>
					<dd>
						<span id="deviceAliasName"></span>
					</dd>
				</dl>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
				<button type="button" id="deleteDeviceModalConfirmBtn" class="btn btn-secondary" data-dismiss="modal">@Localizer["Confirm"]</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteBaseModal">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title" style="display: inline;">@Localizer["Delete a base"]</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				@Localizer["Are you sure you want to delete this base?"]
				<dl class="dl-horizontal">
					<dt>
						@Html.DisplayNameFor(model => model.Bases[0].HWId)
					</dt>
					<dd>
						<span id="baseHWId"></span>
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Bases[0].Name)
					</dt>
					<dd>
						<span id="baseName"></span>
					</dd>
					<dt id="connectedToDT" style="display:none;">
						@Localizer["Connected To"]
					</dt>
					<dd id="connectedToDD" style="display:none;">
						<span id="baseConnectedTo"></span>
					</dd>
				</dl>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
				<button type="button" id="deleteBaseModalConfirmBtn" class="btn btn-secondary" data-dismiss="modal">@Localizer["Confirm"]</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteCollarModal">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title" style="display: inline;">@Localizer["Delete a collar"]</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				@Localizer["Are you sure you want to delete this collar?"]
				<dl class="dl-horizontal">
					<dt>
						@Html.DisplayNameFor(model => model.Collars[0].HWId)
					</dt>
					<dd>
						<span id="collarHWId"></span>
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Collars[0].Name)
					</dt>
					<dd>
						<span id="collarName"></span>
					</dd>
					<dt id="petNameDT" style="display:none;">
						@Localizer["Pet"]
					</dt>
					<dd id="petNameDD" style="display:none;">
						<span id="collarPet"></span>
					</dd>
					<dt id="connectedToDT" style="display:none;">
						@Localizer["Connected To"]
					</dt>
					<dd id="connectedToDD" style="display:none;">
						<span id="collarConnectedTo"></span>
					</dd>
				</dl>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
				<button type="button" id="deleteCollarModalConfirmBtn" class="btn btn-secondary" data-dismiss="modal">@Localizer["Confirm"]</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deletePetModal">
	<div class="modal-dialog modal-l">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title" style="display: inline;">@Localizer["Delete a pet"]</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				@Localizer["Are you sure you want to delete this pet?"]
				<dl class="dl-horizontal">
					<dt>
						@Html.DisplayNameFor(model => model.Pets[0].Name)
					</dt>
					<dd>
						<span id="petName1"></span>
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Pets[0].Type)
					</dt>
					<dd>
						<span id="petType"></span>
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Pets[0].Breeding)
					</dt>
					<dd>
						<span id="petBreeding"></span>
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Pets[0].Color)
					</dt>
					<dd>
						<span id="petColor"></span>
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Pets[0].Birthdate)
					</dt>
					<dd>
						<span id="petBirthdate"></span>
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Pets[0].Gender)
					</dt>
					<dd>
						<span id="petGender"></span>
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Pets[0].Weigth)
					</dt>
					<dd>
						<span id="petWeight"></span>
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Pets[0].HealthComments)
					</dt>
					<dd>
						<span id="petHealthComments"></span>
					</dd>
					<dt id="collarNameDT" style="display:none;">
						@Localizer["Collar"]
					</dt>
					<dd id="collarNameDD" style="display:none;">
						<span id="collarPet"></span>
					</dd>
				</dl>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
				<button type="button" id="deletePetModalConfirmBtn" class="btn btn-secondary" data-dismiss="modal">@Localizer["Confirm"]</button>
			</div>
		</div>
	</div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/broadcast.js"></script>