@model User
@{
	ViewData["Title"] = "Dashboard";
}

<h2>
	<i class="fa fa-tachometer fa-fw" aria-hidden="true"></i>&nbsp; @ViewData["Title"]
</h2>

<div class="row">
	<div class="col-md-3">
		<h2>Issues</h2>
		No device is connected - chequear las websocket activas


		<ul>
			@if (Model.MissingSubscription)
			{
				<li>
					<b><a asp-action="FixMissingSubscription">Missing Subscription</a></b>
				</li>
			}
			@if (Model.Bases.Count() + @Model.Collars.Count() == 0)
			{
				<li>
					<b>Missing Initialization</b>
				</li>
			}
			@if (Model.Devices.Count() == 0)
			{
				<li>
					<b>Missing Install app</b>
				</li>
			}
			@if (Model.Latitude == 0 && Model.Longitude == 0)
			{
				<li>
					<b>Missing user location</b>
				</li>
			}

			@if (Model.Pets.Any(b => b.LastMode != null && b.LastMode.Type == ConfigModeTypes.Emergency))
			{
				<li>
					<b>Pet lost</b>
				</li>
			}
			@if (Model.Bases.Any(b => b.LastStatus == null || !b.LastStatus.IsConnected))
			{
				<li>
					<b>Bases Disconnected</b>
				</li>
			}
			@if (Model.Collars.Any(b => b.LastStatus == null || !b.LastStatus.IsConnected))
			{
				<li>
					<b>Collars Disconnected</b>
				</li>
			}
			@if (Model.Pets.Any(b => b.LastTrackingInfo == null || b.LastTrackingInfo.CreationDate.AddDays(1) < DateTime.Now))
			{
				<li>
					<b>Pet not moving the last 24 h</b>
				</li>
			}
			@if (Model.Collars.Any(b => b.LastStatus != null && b.LastStatus.Battery < 30))
			{
				<li>
					<b>Collars with battery less than 30%</b>
				</li>
			}
			@if (Model.Collars.Any(b => b.LastStatus != null && b.LastStatus.Radio < 20) || Model.Bases.Any(b => b.LastStatus != null && b.LastStatus.Radio < 20))
			{
				<li>
					<b>Collars with lora failing to connect</b>
				</li>
			}
			@if (Model.Collars.Any(b => b.LastStatus != null && b.LastStatus.IsNotGPSConnected))
			{
				<li>
					<b>Collars with GPS failing to connect</b>
				</li>
			}
		</ul>
		<h2>Actions</h2>

		<ul>
			<li><a asp-area="" asp-controller="User" asp-action="PickLocation"><i class="fa fa-location-arrow fa-fw" aria-hidden="true"></i>&nbsp; Update your Location</a></li>
			<li><a asp-area="" asp-controller="Device" asp-action="DownloadApp"><i class="fa fa-download fa-fw" aria-hidden="true"></i>&nbsp; Download mobile and desktop application</a></li>
			<li><a asp-area="" asp-controller="Order" asp-action="Create"><i class="fa fa-cart-plus fa-fw" aria-hidden="true"></i>&nbsp; Buy another base or collar</a></li>
			<li><a asp-area="" asp-controller="Base" asp-action="Create"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Add a base</a></li>
			<li><a asp-area="" asp-controller="Collar" asp-action="Create"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp; Add a collar</a></li>
			<li>
				<a asp-area="" asp-controller="Pet" asp-action="Create"><i class="fa fa-paw fa-fw" aria-hidden="true"></i>&nbsp;Add a Pet</a>
				@if (Model.Pets.Count() == 0)
				{<b>You haven't create any pet....</b>}
			</li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Check devices connection with your account</a></li>
		</ul>

	</div>

	<div class="col-md-6">
		<h2>Overview</h2>
		<div class="well well-lg" style="position:relative;top:0px;left:0px; min-width:200px;">
			<table class="table" style="position:relative;top:0px;left:0px; min-width:120px;">
				<theader>
					<tr>
						<th>
							<i class="fa fa-mobile-phone fa-fw" aria-hidden="true"></i> &nbsp; Mobile Devices or Computers running the application
						</th>
						<th class="small">Network Connected</th>
						<th class="small"> </th>
					</tr>
				</theader>
				<tbody>
					@{
						List<webGDPR.Infrastructure.CustomWebSockets.CustomWebSocket> WebSockets = (List<webGDPR.Infrastructure.CustomWebSockets.CustomWebSocket>)ViewData["WebSockets"];
						foreach (Device d in Model.Devices)
						{
							<tr>
								<td>
									<div style="position:relative;top:0px;left:0px; min-width:40px;">
										<div class="btn-group">
											<a class="dropdown-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding:3px 6px 3px 6px">
												@d.GetPlatform @d.GetName<i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
											</a>
											<ul class="dropdown-menu">
												<li><a asp-controller="Device" asp-action="Edit" asp-route-id="@d.DeviceId" target="_blank">Edit</a></li>
												<li><a asp-controller="Device" asp-action="Delete" asp-route-id="@d.DeviceId" target="_blank">Delete</a></li>
											</ul>
										</div>
									</div>
								</td>
								<td>
									@if (WebSockets.Exists(w => w.DeviceId == d.DeviceId))
									{
										<i class="fa fa-circle fa-fw" style="color:green;position:relative;top:7px;left:0px" aria-hidden="true"></i>
									}
									else
									{
										<i class="fa fa-circle fa-fw" style="color:red;position:relative;top:7px;left:0px" aria-hidden="true"></i>
									}
								</td>
							</tr>
						}

					}
				</tbody>
			</table>
		</div>
		<div class="well well-lg" style="position:relative;top:0px;left:0px; min-width:200px;">

			<table class="table" style="position:relative;top:0px;left:0px; min-width:100px;">
				<theader>
					<tr>
						<th>
							<i class="fa fa-home fa-fw" aria-hidden="true"></i> &nbsp; Bases
						</th>
						<th class="small">Network Connected</th>
						<th class="small visible-md visible-lg visible-sm">Plug in </th>
						<th class="small visible-md visible-lg visible-sm">Charging battery</th>
						<th class="small visible-md visible-lg visible-sm">Radio Strength</th>
					</tr>
				</theader>
				<tbody>
					@foreach (var item in Model.Bases.Where(b => !b.Deleted))
					{
						<tr>
							<td>
								<div style="position:relative;top:0px;left:0px; min-width:110px;">
									<div class="btn-group">
										<a class="dropdown-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding:3px 6px 3px 6px">
											@Html.DisplayFor(modelItem => item.Name)<i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
										</a>
										<ul class="dropdown-menu">
											<li><a asp-controller="Base" asp-action="Edit" asp-route-id="@item.BaseId" target="_blank">Edit</a></li>
											<li><a asp-controller="Base" asp-action="Delete" asp-route-id="@item.BaseId" target="_blank">Delete</a></li>
										</ul>
									</div>
								</div>
							</td>
							<td>
								<div style="position:relative;top:0px;left:0px; min-width:20px;">
									@if (item.LastStatus != null && item.LastStatus.IsConnected)
									{
										<i class="fa fa-circle fa-fw" style="color:green;position:relative;top:7px;left:0px" aria-hidden="true"></i>
										@if (item.LastStatus != null && item.LastStatus.DeviceConnectedTo != null)
										{
											@Html.DisplayFor(modelItem => item.LastStatus.DeviceConnectedTo.GetName)
										}
									}
									else
									{
										<i class="fa fa-circle fa-fw" style="color:red;position:relative;top:7px;left:0px" aria-hidden="true"></i>
									}
								</div>
							</td>
							<td class="visible-md visible-lg visible-sm" valign="middle">
								<div style="position:relative;top:0px;left:0px; min-width:20px;">
									<i class="fa fa-plug fa-fw" style="color:gray;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
									@if (!(item.LastStatus != null && item.LastStatus.IsPlugged))
									{
										<i style="color:black; font-weight:bold; font-size:x-large;padding-top:0px;padding-bottom:0px;position:absolute;top:0px;left:6px">\</i>
									}
								</div>

							</td>
							<td class="visible-md visible-lg visible-sm">
								<div style="position:relative;top:0px;left:0px; min-width:20px;">
									@if (item.LastStatus != null)
									{
										if (item.LastStatus.Battery < 25)
										{
											<i class="fa fa-battery-empty fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
										}
										else if (item.LastStatus.Battery < 50)
										{
											<i class="fa fa-battery-quarter fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
										}
										else if (item.LastStatus.Battery < 75)
										{
											<i class="fa fa-battery-half fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
										}
										else if (item.LastStatus.Battery < 100)
										{
											<i class="fa fa-battery-three-quarters fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
										}
										else
										{
											<i class="fa fa-battery-full fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
										}
									}
									else
									{
										<i class="fa fa-battery-empty fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
									}
									@if (!(item.LastStatus != null && item.LastStatus.HasBattery))
									{
										<i style="color:black; font-weight:bold; font-size:x-large;position:absolute;top:0px;left:4px">\</i>
									}
									@if (item.LastStatus != null && item.LastStatus.IsCharging)
									{
										<i class="fa fa-bolt fa-fw" style="color:black;position:absolute;top:10px;left:0px">\</i>
									}
								</div>

							</td>
							<td class="visible-md visible-lg visible-sm">
								<div style="position:relative;top:0px;left:0px; min-width:20px;">
									<i class="fa fa-signal fa-fw" style="color:gray;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
									@if (item.LastStatus != null)
									{
										<i style="color:black;font-weight:bold;font-size:small;position:absolute;top:5px;left:6px">item.LastStatus.RadioPercentage</i>
									}
									else
									{
										<i style="color:black;font-weight:bold;font-size:small;position:absolute;top:5px;left:6px">0%</i>
									}
								</div>

							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="well well-lg" style="position:relative;top:0px;left:0px; min-width:200px;">
			<table class="table" style="position:relative;top:0px;left:0px; min-width:120px;">
				<theader>
					<tr>
						<th>
							<i class="fa fa-paw fa-fw" aria-hidden="true"></i> &nbsp; Collars on Pets
						</th>
						<th class="small">Network Connected</th>
						<th class="small visible-md visible-lg visible-sm">GPS Connected</th>
						<th class="small visible-md visible-lg visible-sm">Battery Charge</th>
						<th class="small visible-md visible-lg visible-sm">Radio Strength</th>
					</tr>
				</theader>
				<tbody>
					@foreach (var item in Model.Collars.Where(b => !b.Deleted))
					{
						<tr>
							<td>
								<div style="position:relative;top:0px;left:0px; min-width:60px;">
									<div class="btn-group">
										<a class="dropdown-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding:3px 6px 3px 6px">

											@Html.DisplayFor(modelItem => item.Name)<i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
										</a>
										<ul class="dropdown-menu">
											<li><a asp-controller="Collar" asp-action="Edit" asp-route-id="@item.CollarId" target="_blank">Edit</a></li>
											<li><a asp-controller="Collar" asp-action="Delete" asp-route-id="@item.CollarId" target="_blank">Delete</a></li>
										</ul>
									</div>
								</div>
							</td>
							<td>
								<div style="position:relative;top:0px;left:0px; min-width:20px;">
									@if (item.LastStatus != null && item.LastStatus.IsConnected)
									{
										<i class="fa fa-circle fa-fw" style="color:green;position:relative;top:7px;left:0px" aria-hidden="true"></i>
										@if (item.LastStatus != null && item.LastStatus.BaseConnectedTo != null)
										{
											@Html.DisplayFor(modelItem => item.LastStatus.BaseConnectedTo.Name)
										}
									}
									else
									{
										<i class="fa fa-circle fa-fw" style="color:red;position:relative;top:7px;left:0px" aria-hidden="true"></i>
									}
								</div>
							</td>
							<td class="visible-md visible-lg visible-sm" valign="middle">
								<div style="position:relative;top:0px;left:0px; min-width:20px;">
									<i class="fa fa-map-marker fa-fw" style="color:gray;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
									@if (!(item.LastStatus != null && item.LastStatus.IsGPSConnected))
									{
										<i style="color:black; font-weight:bold; font-size:x-large;padding-top:0px;padding-bottom:0px;position:absolute;top:0px;left:6px">\</i>
									}
								</div>
							</td>
							<td class="visible-md visible-lg visible-sm">
								<div style="position:relative;top:0px;left:0px; min-width:20px;">
									@if (item.LastStatus != null)
									{
										if (item.LastStatus.Battery < 25)
										{
											<i class="fa fa-battery-empty fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
										}
										else if (item.LastStatus.Battery < 50)
										{
											<i class="fa fa-battery-quarter fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
										}
										else if (item.LastStatus.Battery < 75)
										{
											<i class="fa fa-battery-half fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
										}
										else if (item.LastStatus.Battery < 100)
										{
											<i class="fa fa-battery-three-quarters fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
										}
										else
										{
											<i class="fa fa-battery-full fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
										}
									}
									else
									{
										<i class="fa fa-battery-empty fa-fw" style="color:lightblue;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
									}
								</div>
							</td>
							<td class="visible-md visible-lg visible-sm">
								<div style="position:relative;top:0px;left:0px; min-width:20px;">
									<i class="fa fa-signal fa-fw" style="color:gray;position:absolute;top:10px;left:0px" aria-hidden="true"></i>
									@if (item.LastStatus != null)
									{
										<i style="color:black;font-weight:bold;font-size:small;position:absolute;top:5px;left:6px">item.LastStatus.RadioPercentage</i>
									}
									else
									{
										<i style="color:black;font-weight:bold;font-size:small;position:absolute;top:5px;left:6px">0%</i>
									}
								</div>
							</td>
						</tr>

						Pet p = Model.Pets.FirstOrDefault(pet => pet.LastCollar != null && pet.LastCollar.CollarId == item.CollarId && !pet.Deleted);
						if (p != null)
						{
							<tr>
								<td>
									on&nbsp;<div class="btn-group">
										<a class="dropdown-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding:3px 6px 3px 6px">
											@Html.DisplayFor(modelItem => p.Name)<i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
										</a>
										<ul class="dropdown-menu">
											<li><a asp-controller="Pet" asp-action="Edit" asp-route-id="@p.PetId" target="_blank">Edit</a></li>
											<li><a asp-controller="Pet" asp-action="Delete" asp-route-id="@p.PetId" target="_blank">Delete</a></li>
											<li role="separator" class="divider"></li>
											<li><a asp-controller="Pet" asp-action="Track" asp-route-id="@p.PetId" target="_blank">Track</a></li>
											<li><a asp-controller="Pet" asp-action="Stats" asp-route-id="@p.PetId" target="_blank">Activity</a></li>
											<li><a asp-controller="Pet" asp-action="Page" asp-route-id="@p.PetId" target="_blank">Page</a></li>

										</ul>
									</div>
								</td>
								<td colspan="4">
									@if (p.LastMode != null && p.LastMode.Type == ConfigModeTypes.Emergency && p.LastMode.IsActive)
									{
										<button class="btn btn-default reportFound" data-id="@p.PetId" data-name="@p.Name" style="width:100%; padding:3px 6px 3px 6px">Report Found</button>
										<button class="btn btn-danger openReportLostDialog" data-id="@p.PetId" data-name="@p.Name" style="width:100%; padding:3px 6px 3px 6px; display:none">Report Lost</button>
									}
									else
									{
										<button class="btn btn-default reportFound" data-id="@p.PetId" data-name="@p.Name" style="width:100%; padding:3px 6px 3px 6px; display:none;">Report Found</button>
										<button class="btn btn-danger openReportLostDialog" data-id="@p.PetId" data-name="@p.Name" style="width:100%; padding:3px 6px 3px 6px">Report Lost</button>
									}
								</td>

							</tr>
						}
					}
				</tbody>
			</table>
			<script>

			</script>
			<!-- The Modal -->
			<div class="modal fade" id="petLostModal">
				<div class="modal-dialog modal-l">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Report a lost pet</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<!-- Modal body -->
						<div class="modal-body">
							Are you sure <span id="petName"></span> is lost?
							<input type="hidden" name="petId" id="petId" value="" />
						</div>
						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<button type="button" id="petLostModalConfirmBtn" class="btn btn-secondary" data-dismiss="modal">Confirm</button>
						</div>

					</div>
				</div>
			</div>
		</div>


	</div>

	<div class="col-md-3">
		<h2>&nbsp;</h2>
		<div class="well well-lg">
			<div id="mapContainer" style="height:400px">
				<script>
			var coordinates = [];
			@foreach (Pet p in Model.Pets) {
				if (p.LastTrackingInfo != null)
				{
			 	<text>
				var strDate = new String('@p.LastTrackingInfo.CreationDate.ToString("MM/dd/yyyy hh:mm:ss tt") UTC');
				var localTime = new Date(strDate);
				coordinates.push({ lat: @p.LastTrackingInfo.Latitude, lng: @p.LastTrackingInfo.Longitude, name: "@p.Name", type: "@p.Type", time: localTime.toLocaleString() });
				</text>
				}
			}
				</script>
				<div id="pets-map" class="card-text card-map" data-geo-lat="@Model.Latitude" , data-geo-lng="@Model.Longitude"></div>
				<div id="panoDashboard"></div>
			</div>
		</div>
		<ul style="clear:both;">
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Your pet has been going farther latelly/ moving less or more...</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
			<li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
		</ul>
	</div>


</div>

