@model User
@{
	ViewData["Title"] = "FixMissingSubscription";
}

<h2>Fix Missing Subscription</h2>

You have the following trackers:
<table class="table">
	<thead>
		<tr>
			<th class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.Collars[0].CollarNumber)
			</th>
			<th class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.Collars[0].HWId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Collars[0].Name)
			</th>
			<th class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.Collars[0].Description)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in @Model.Collars)
		{
			<tr>
				<td class="visible-md visible-lg">
					@Html.DisplayFor(modelItem => item.CollarNumber)
				</td>
				<td class="visible-md visible-lg">
					@Html.DisplayFor(modelItem => item.HWId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td class="visible-md visible-lg">
					@Html.DisplayFor(modelItem => item.Description)
				</td>				
			</tr>
		}
	</tbody>
</table>
But you are paying a subscription for only one tracker.
<table class="table">
	<thead>
		<tr>
			<th class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.Subscriptions[0].Product.Name)
			</th>
			<th class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.Subscriptions[0].CreationDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Subscriptions[0].ExpirationDate)
			</th>
			<th class="visible-md visible-lg">
				@Html.DisplayNameFor(model => model.Subscriptions[0].Note)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in @Model.Subscriptions)
		{
			<tr>
				<td class="visible-md visible-lg">
					@Html.DisplayFor(modelItem => item.Product.Name)
				</td>
				<td class="visible-md visible-lg">
					@Html.DisplayFor(modelItem => item.CreationDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ExpirationDate)
				</td>
				<td class="visible-md visible-lg">
					@Html.DisplayFor(modelItem => item.Note)
				</td>
			</tr>
		}
	</tbody>
</table>
Button to register

