@model webGDPR.ViewModels.HWOverviewViewModel
@{
	ViewData["Title"] = "Trackers Overview";
}

<h2>
	<i class="fa fa-gears fa-fw" aria-hidden="true"></i>&nbsp; @ViewData["Title"]
</h2>

<div class="row">
	<div class="col-md-9">
		@{
			var basesDisconnectedToMuch = Model.BaseStats.Where(bs => bs.DisconnectedTimeSpan.TotalHours > 1).ToList();
			if (basesDisconnectedToMuch.Count > 0)
			{
				string[] names = basesDisconnectedToMuch.Select(b => b.Base.Name).ToArray();
				<div class="alert alert-danger">
					<strong>Danger!</strong> These bases are disconnected to much: @string.Join(",", names).
				</div>
			}
		}

		@{
			var collarsDisconnectedToMuch = Model.CollarStats.Where(bs => bs.DisconnectedTimeSpan.TotalHours > 1).ToList();
			if (collarsDisconnectedToMuch.Count > 0)
			{
				string[] names = collarsDisconnectedToMuch.Select(b => b.Collar.Name).ToArray();
				<div class="alert alert-danger">
					<strong>Danger!</strong> These collars are disconnected to much: @string.Join(",", names).
				</div>
			}
		}

		@{
			var collarsGPSDisconnectedToMuch = Model.CollarStats.Where(bs => bs.GPSDisconnectedTimeSpan.TotalHours > 2).ToList();
			if (collarsGPSDisconnectedToMuch.Count > 0)
			{
				string[] names = collarsGPSDisconnectedToMuch.Select(b => b.Collar.Name).ToArray();
				<div class="alert alert-danger">
					<strong>Danger!</strong> These collars are gps disconnected to much: @string.Join(",", names).
				</div>
			}
		}

		@{
			var collarsBatteryLowToMuch = Model.CollarStats.Where(bs => bs.BatteryMinus25Minutes > (5*60)).ToList();
			if (collarsBatteryLowToMuch.Count > 0)
			{
				string[] names = collarsBatteryLowToMuch.Select(b => b.Collar.Name).ToArray();
				<div class="alert alert-danger">
					<strong>Danger!</strong> These collars have battery too low: @string.Join(",", names).
				</div>
			}
		}

		@{
			var basesChargingToMuch = Model.BaseStats.Where(bs => bs.BatteriesChargingMore75percent).ToList();
			if (basesChargingToMuch.Count > 0)
			{
				string[] names = basesChargingToMuch.Select(b => b.Base.Name).ToArray();
				<div class="alert alert-warning">
					<strong>Warning!</strong> These bases are charging to much: @string.Join(",", names).
				</div>
			}
		}

		<div class="well well-lg">
			Most Connected to Device: @Model.MostConnectedToDevice.AliasName
		</div>

		<div class="well well-lg">
			Most Connected to Base: @Model.MostConnectedToBase.Name
		</div>

		<div class="btn-group" role="group" aria-label="..." style="float:right;">
			<button class="btn btn-default active" id="btnWeek" data-period="W">last week</button>
			<button class="btn btn-default" id="btnMonth" data-period="M">last month</button>
			<button class="btn btn-default" id="btnSemester" data-period="S">last 6 months</button>
		</div>
		<script>
			var names = JSON.parse('@Html.Raw(Json.Serialize(Model.BaseStats.Select(b => b.Base.Name).ToArray()))');
			var disconnectedTimes = JSON.parse('@Html.Raw(Json.Serialize(Model.BaseStats.Select(b => b.DisconnectedTimeSpan.TotalMinutes).ToArray()))');
			var radios = JSON.parse('@Html.Raw(Json.Serialize(Model.BaseStats.Select(b => b.AvgRadio).ToArray()))');

			var namesCollars = JSON.parse('@Html.Raw(Json.Serialize(Model.CollarStats.Select(b => b.Collar.Name).ToArray()))');
			var disconnectedTimesCollars = JSON.parse('@Html.Raw(Json.Serialize(Model.CollarStats.Select(b => b.DisconnectedTimeSpan.TotalMinutes).ToArray()))');
			var gpsDisconnectedTimesCollars = JSON.parse('@Html.Raw(Json.Serialize(Model.CollarStats.Select(b => b.GPSDisconnectedTimeSpan.TotalMinutes).ToArray()))');
			var radiosCollars = JSON.parse('@Html.Raw(Json.Serialize(Model.CollarStats.Select(b => b.AvgRadio).ToArray()))');
			var batteryCollars = JSON.parse('@Html.Raw(Json.Serialize(Model.CollarStats.Select(b => b.AvgBattery).ToArray()))');
		</script>
		<div id="hwStats" class="well well-lg" style="margin-top:10px;">
			<div class="col-lg-5 col-md-5 well well-lg">
				<h5>Disconnected Time for Bases</h5>
				<canvas id="horizontalBar"></canvas>
			</div>

			<div class="col-lg-4 col-md-4 well well-lg">
				<h5>Radio Average Strenght for Bases</h5>
				<canvas id="verticalBarChart"></canvas>
			</div>
			<div class="col-lg-5 col-md-5 well well-lg">
				<h5>Disconnected/GPS Disconnected Time for Collars</h5>
				<canvas id="horizontalBar2"></canvas>
			</div>

			<div class="col-lg-4 col-md-4 well well-lg">
				<h5>Radio/Battery Average Strenght for Collar</h5>
				<canvas id="verticalBarChart2"></canvas>
			</div>

			<h5>Places visited</h5>
			<script>
			var contentString = '<div id="content">' +
				'<div id="siteNotice">' +
				'</div>' +
				'<h3 id="firstHeading" class="firstHeading">Home</h3>' +
				@*'<div id="bodyContent">' +
				'<p>@Model.Description</p>' +
				'</div>' +*@
				'</div>';

			var coordinates = [];
			@foreach (webGDPR.ViewModels.PointServiceLevel p in Model.PointsServiceLevel) {
			 	<text>
					coordinates.push({ lat: @p.Latitude, lng: @p.Longitude, color: "red" });
				</text>
			}
			</script>
			<div id="service-map" class="card-text card-map" data-geo-lat="@Model.User.Latitude" , data-geo-lng="@Model.User.Longitude" style="height:500px;"></div>

		</div>
	</div>

		<div class="col-md-3">
			<h2>Overview</h2>

		</div>
	</div>

