@model List<User>

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model[0].Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model[0].Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model[0].UserID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model[0].OwnerID)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OwnerID)
				</td>
				<td>
					@if ((await AuthorizationService.AuthorizeAsync(
					 User, item,
					 UserOperations.Update)).Succeeded)
					{
						<a asp-action="Edit" asp-route-id="@item.UserID">Edit</a>
						<text> | </text>
					}

					<a asp-action="Details" asp-route-id="@item.UserID">Details</a>

					@if ((await AuthorizationService.AuthorizeAsync(
					 User, item,
					 UserOperations.Delete)).Succeeded)
					{
						<text> | </text>
						<a asp-action="./Delete" asp-route-id="@item.UserID">Delete</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
