@model webGDPR.ViewModels.PetStatsModel
@{
	ViewData["Title"] = "_ActivityStats";
}
<script>
	var petActivity = JSON.parse('@Html.Raw(Json.Serialize(Model.AvgDistance))');
</script>
@Model.Name has been walking about @String.Format("{0:0.000}", Model.AvgDistanceDay) km/day
<hr>
<div class="well well-lg">
	<h5>Km walked per hour</h5>
	<canvas id="activityChart"></canvas>
</div>

<div id="mapContainer" style="height:500px" class="well well-lg">
	<h5>Places visited</h5>
	<script>
			var contentString = '<div id="content">' +
				'<div id="siteNotice">' +
				'</div>' +
				'<h3 id="firstHeading" class="firstHeading">Home</h3>' +
				@*'<div id="bodyContent">' +
				'<p>@Model.Description</p>' +
				'</div>' +*@
				'</div>';

			var coordinates = [];
			@foreach (Tuple<PetTrackingInfo,string> p in Model.PointVisited) {
			 	<text>
					coordinates.push({ lat: @p.Item1.Latitude, lng: @p.Item1.Longitude, color: "@p.Item2" });
				</text>
			}
	</script>
	<div id="stat-map" class="card-text card-map" data-geo-lat="@Model.Latitude" , data-geo-lng="@Model.Longitude"></div>
</div>


