@model webGDPR.ViewModels.HWOverviewViewModel
@using webGDPR.ViewModels;

@{
	ViewData["Title"] = "_HWStats";
}
<script>
	var names = JSON.parse('@Html.Raw(Json.Serialize(Model.BaseStats.Select(b => b.Base.Name).ToArray()))');
	var disconnectedTimes = JSON.parse('@Html.Raw(Json.Serialize(Model.BaseStats.Select(b => b.DisconnectedTimeSpan.TotalMinutes).ToArray()))');
			var radios = JSON.parse('@Html.Raw(Json.Serialize(Model.BaseStats.Select(b => b.AvgRadio).ToArray()))');

			var namesCollars = JSON.parse('@Html.Raw(Json.Serialize(Model.CollarStats.Select(b => b.Collar.Name).ToArray()))');
			var disconnectedTimesCollars = JSON.parse('@Html.Raw(Json.Serialize(Model.CollarStats.Select(b => b.DisconnectedTimeSpan.TotalMinutes).ToArray()))');
			var gpsDisconnectedTimesCollars = JSON.parse('@Html.Raw(Json.Serialize(Model.CollarStats.Select(b => b.GPSDisconnectedTimeSpan.TotalMinutes).ToArray()))');
			var radiosCollars = JSON.parse('@Html.Raw(Json.Serialize(Model.CollarStats.Select(b => b.AvgRadio).ToArray()))');
			var batteryCollars = JSON.parse('@Html.Raw(Json.Serialize(Model.CollarStats.Select(b => b.AvgBattery).ToArray()))');
</script>
<style>
	.chart {
		position: relative;
		display: inline-block;
		width: 80px;
		height: 80px;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}

		.chart canvas {
			position: absolute;
			top: 0;
			left: 0;
		}

	.percent {
		display: inline-block;
		line-height: 80px;
		z-index: 2;
	}

		.percent:after {
			content: '%';
			margin-left: 0.1em;
			font-size: .8em;
		}
</style>
<div class="well well-lg" style="background-color: white;">
	<h3>
		<i class="fa fa-home fa-fw" aria-hidden="true"></i>
	</h3>
	<hr />
	@foreach (BaseStats bs in Model.BaseStats)
	{
		<div class="row">
			<div class="col-md-3 col-sm-3" style="text-align: center; vertical-align:middle;">
				@bs.Base.Name
			</div>
			<div class="col-md-3 col-sm-3" style="text-align: center;">
				<span class="chart" data-percent="@bs.AvgConnected" data-bar-color="rgb(201, 203, 207)" data-line-width="10" data-size="80">
					<span class="percent">@bs.AvgConnected</span>
				</span>
				<span class="label label-default">Network Connected</span>
			</div>
			<div class="col-md-3 col-sm-3" style="text-align: center;">
				<span class="chart" data-percent="@bs.AvgPlugIn" data-bar-color="rgb(201, 203, 207)" data-line-width="10" data-size="80">
					<span class="percent">@bs.AvgPlugIn</span>
				</span>
				<span class="label label-default">Power Connected</span>
			</div>
			<div class="col-md-3 col-sm-3" style="text-align: center;">
				<span class="chart" data-percent="@bs.AvgRadio" data-bar-color="rgb(201, 203, 207)" data-line-width="10" data-size="80">
					<span class="percent">@bs.AvgRadio</span>
				</span>
				<span class="label label-default">Medium Radio Strenth</span>
			</div>
		</div>
	}

</div>
<div class="well well-lg" style="background-color: white;">
	<h3>
		<i class="fa fa-paw fa-fw" aria-hidden="true"></i>
	</h3>
	<hr />
	@foreach (CollarStats cs in Model.CollarStats)
	{
		<div class="row">
			<div class="col-md-2 col-sm-2" style="text-align: center; vertical-align:middle;">
				@cs.Collar.Name
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3" style="text-align: center;">
				<span class="chart" data-percent="@cs.AvgConnected" data-bar-color="rgb(201, 203, 207)" data-line-width="10" data-size="80">
					<span class="percent">@cs.AvgConnected</span>
				</span>
				<span class="label label-default">Network Connected</span>
			</div>
			<div class="col-md-3 col-sm-3" style="text-align: center;">
				<span class="chart" data-percent="@cs.AvgGPSConnected" data-bar-color="rgb(201, 203, 207)" data-line-width="10" data-size="80">
					<span class="percent">@cs.AvgGPSConnected</span>
				</span>
				<span class="label label-default">GPS Connected</span>
			</div>
			<div class="col-md-3 col-sm-3" style="text-align: center;">
				<span class="chart" data-percent="@cs.AvgBattery" data-bar-color="rgb(201, 203, 207)" data-line-width="10" data-size="80">
					<span class="percent">@cs.AvgBattery</span>
				</span>
				<span class="label label-default">Medium Battery Charge</span>
			</div>
			<div class="col-md-3 col-sm-3" style="text-align: center;">
				<span class="chart" data-percent="@cs.AvgRadio" data-bar-color="rgb(201, 203, 207)" data-line-width="10" data-size="80">
					<span class="percent">@cs.AvgRadio</span>
				</span>
				<span class="label label-default">Medium Radio Strenth</span>
			</div>
		</div>
	}


</div>
@*<div class="col-lg-5 col-md-5 well well-lg">
		<h5>Disconnected Time for Bases</h5>
		<canvas id="horizontalBar"></canvas>
	</div>

	<div class="col-lg-4 col-md-4 well well-lg">
		<h5>Radio Average Strenght for Bases</h5>
		<canvas id="verticalBarChart"></canvas>
	</div>
	<div class="col-lg-5 col-md-5 well well-lg">
		<h5>Disconnected/GPS Disconnected Time for Collars</h5>
		<canvas id="horizontalBar2"></canvas>
	</div>

	<div class="col-lg-4 col-md-4 well well-lg">
		<h5>Radio/Battery Average Strenght for Collar</h5>
		<canvas id="verticalBarChart2"></canvas>
	</div>*@
<div class="row well well-lg" style="background-color: white;">
	<h5>Bad Services Places</h5>
	<script>
			var coordinates = [];
			@foreach (webGDPR.ViewModels.PointServiceLevel p in Model.PointsServiceLevel) {
			 	<text>
					coordinates.push({ lat: @p.Latitude, lng: @p.Longitude, color: "red", gps: '@p.GPS', radio: @p.Radio });
				</text>
			}
	</script>
	<div id="service-map" class="card-text card-map" data-geo-lat="@Model.User.Latitude" , data-geo-lng="@Model.User.Longitude" style="height:500px;"></div>
</div>



