@model webGDPR.ViewModels.HWOverviewViewModel
@{
	ViewData["Title"] = "_HWStats";
}
<script>
	var names = JSON.parse('@Html.Raw(Json.Serialize(Model.BaseStats.Select(b => b.Base.Name).ToArray()))');
	var disconnectedTimes = JSON.parse('@Html.Raw(Json.Serialize(Model.BaseStats.Select(b => b.DisconnectedTimeSpan.TotalMinutes).ToArray()))');
			var radios = JSON.parse('@Html.Raw(Json.Serialize(Model.BaseStats.Select(b => b.AvgRadio).ToArray()))');

			var namesCollars = JSON.parse('@Html.Raw(Json.Serialize(Model.CollarStats.Select(b => b.Collar.Name).ToArray()))');
			var disconnectedTimesCollars = JSON.parse('@Html.Raw(Json.Serialize(Model.CollarStats.Select(b => b.DisconnectedTimeSpan.TotalMinutes).ToArray()))');
			var gpsDisconnectedTimesCollars = JSON.parse('@Html.Raw(Json.Serialize(Model.CollarStats.Select(b => b.GPSDisconnectedTimeSpan.TotalMinutes).ToArray()))');
			var radiosCollars = JSON.parse('@Html.Raw(Json.Serialize(Model.CollarStats.Select(b => b.AvgRadio).ToArray()))');
			var batteryCollars = JSON.parse('@Html.Raw(Json.Serialize(Model.CollarStats.Select(b => b.AvgBattery).ToArray()))');
</script>
<style>
	.chart {
		position: relative;
		display: inline-block;
		width: 110px;
		height: 110px;
		margin-top: 50px;
		margin-bottom: 50px;
		text-align: center;
	}

		.chart canvas {
			position: absolute;
			top: 0;
			left: 0;
		}

	.percent {
		display: inline-block;
		line-height: 110px;
		z-index: 2;
	}

		.percent:after {
			content: '%';
			margin-left: 0.1em;
			font-size: .8em;
		}

</style>

<span class="chart" data-percent="@Model.BaseStats[0].AvgConnected">
	<span class="percent">@Model.BaseStats[0].AvgConnected</span>
</span>
<span class="chart" data-percent="@Model.BaseStats[0].AvgPlugIn">
	<span class="percent">@Model.BaseStats[0].AvgPlugIn</span>
</span>
<span class="chart" data-percent="@Model.BaseStats[0].AvgRadio">
	<span class="percent">@Model.BaseStats[0].AvgRadio</span>
</span>


<div class="col-lg-5 col-md-5 well well-lg">
	<h5>Disconnected Time for Bases</h5>
	<canvas id="horizontalBar"></canvas>
</div>

<div class="col-lg-4 col-md-4 well well-lg">
	<h5>Radio Average Strenght for Bases</h5>
	<canvas id="verticalBarChart"></canvas>
</div>
<div class="col-lg-5 col-md-5 well well-lg">
	<h5>Disconnected/GPS Disconnected Time for Collars</h5>
	<canvas id="horizontalBar2"></canvas>
</div>

<div class="col-lg-4 col-md-4 well well-lg">
	<h5>Radio/Battery Average Strenght for Collar</h5>
	<canvas id="verticalBarChart2"></canvas>
</div>

<h5>Places visited</h5>
<script>
			var coordinates = [];
			@foreach (webGDPR.ViewModels.PointServiceLevel p in Model.PointsServiceLevel) {
			 	<text>
					coordinates.push({ lat: @p.Latitude, lng: @p.Longitude, color: "red", gps: @p.GPS, radio: @p.Radio });
				</text>
			}
</script>
<div id="service-map" class="card-text card-map" data-geo-lat="@Model.User.Latitude" , data-geo-lng="@Model.User.Longitude" style="height:500px;"></div>


